@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chartsContainer {
  animation: fadeIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  width: 100vw;
  background-color: rgb(249, 249, 249);
  color: black;
}
.chartsContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: calc(100% - 10px);
}
