.changeGroupIcon {
  width: 36px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  filter: opacity(0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease;
  top: calc((100vh - 170px) / 4 - 24px);
  // background-color: red;
}

.changeGroupIcon:hover {
  filter: opacity(0.8);
}

.previousGroup {
  left: 0;
}

.nextGroup {
  right: 0;
}
.rotate180 {
  transform: rotate(180deg);
}
