.timeSelectorContainer {
    margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

div.button {
  margin: 0;
  padding: 10px 30px;
  font-size: 12px;
  color: grey;
}

div.active {
  pointer-events: none;
  color: black;
}
div.active:hover {
  color: black;
}
