.timeSelectorContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

div.button {
  margin: 0;
  padding: 10px 30px;
  font-size: 12px;
  color: grey;
}

div.active {
  pointer-events: none;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
div.active:hover {
  color: black;
}
