$height-nutriment-item: 61px;
$width-nutriment-item: 50px;

.nutrimentItem {
  flex-grow: 0;
  flex-shrink: 0;
  height: $height-nutriment-item;
  width: $width-nutriment-item;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  background-color: var(--bg-color);
  border-color: var(--bg-color);
  filter: grayscale(var(--grayscale));

  & > span:first-child {
    font-size: 0.65rem;
    color: #777;
    line-height: 1;
  }
  & > span:nth-child(2) {
    font-size: 1.1rem;
    font-weight: 800;
    color: #1a1a1a;
    line-height: 1.1;
  }
  & > span:last-child {
    font-size: 0.7rem;
    color: #888;
    line-height: 1;
  }
  & > span.shrinkValue {
    font-size: 0.9rem;
  }
}

.bigNutriment {
  height: $height-nutriment-item + 10px;
  width: $width-nutriment-item + 10px;

  & > span:first-child {
    font-size: 0.75rem;
  }
  & > span:nth-child(2) {
    font-size: 1.3rem;
  }
  & > span:last-child {
    font-size: 0.8rem;
  }
}
