.nutrimentsSection {
  width: 100%;
  margin-bottom: 0.5rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;

  // // Custom scrollbar
  // &::-webkit-scrollbar {
  //   height: 6px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background: #ddd;
  //   border-radius: 3px;
  // }
  // max-height: 30%;
  flex-grow: 1;
  // flex-shrink: 1;
  height: 100%;
  // max-height: 185px;
}

.nutrimentsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  // width: max-content;
  overflow: auto;
  // background-color: lightsalmon;
}

.nutrimentsGroupContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.2rem 0rem;
  // border-radius: 4px;
  // background-color: #fafafa;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.noNutriments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  position: relative;
  margin: 0;
  overflow-x: hidden;

  & > span {
    width: 100%;
    text-align: center;
    // font-size: 0.85rem;
    color: #555;
  }

  .geminiButton {
    width: 80%;
    padding: 0.4rem 1.2rem;
    margin: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;

    .geminiIcon {
      width: 20px;
      height: 20px;
      margin-left: 0.5rem;
      vertical-align: middle;
    }

    .loading {
      animation: spin 2s linear infinite;
    }
  }

  .geminiButton:hover {
    color: black;
  }

  .disabledGeminiButton {
    pointer-events: none;
    opacity: 0.6;
    color: gray;
  }
}
