.nutrimentsSection {
  width: 100%;
  margin-bottom: 0.5rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.nutrimentsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  overflow: auto;
}

.nutrimentsGroupContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.2rem 0rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.noNutriments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  height: 100%;

  & > span {
    width: 100%;
    text-align: center;
    color: #555;
  }

  .geminiButton {
    width: 80%;
    padding: 0.4rem 1.2rem;
    margin: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;

    .geminiIcon {
      width: 20px;
      height: 20px;
      margin-left: 0.5rem;
      vertical-align: middle;
    }

    .loading {
      animation: spin 2s linear infinite;
    }
  }

  .geminiButton:hover {
    color: black;
  }

  .disabledGeminiButton {
    pointer-events: none;
    opacity: 0.6;
    color: gray;
  }
}
