div.modalContainer {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // height: 80vh;
  // border: 1px solid red;
  // padding: 0;
  // flex-grow: 1;
  position: relative;
  gap: 0;
}

.tabSelector {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  width: 100%;
  // height: 50px;
  // background-color: pink;
  // border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
  // margin: -10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  & > h2 {
    margin: 0;
    padding: 0.5rem 0.8rem;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    color: #555;
    border-radius: 4px;
  }

  & > h2.selectedTab {
    font-weight: bold;
    background-color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
}

.suggestionsSection {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
  width: 100%;
  height: 30%;
  // border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  // border: 1px solid red;
}

.suggestionsContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 0.2rem;
  border-top: none;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  flex-grow: 1;
  flex-shrink: 1;
  // height: calc(50% - 1rem);
  // max-height: calc(50% - 1rem);

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    // overflow-y: scroll;
  }
  // background-color: lightgreen;
}

.suggestionItem {
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: black;
  // background-color: #f0f0f0;
  background: linear-gradient(90deg, #e0e0e0, #fff);
}
.suggestionItem:hover {
  background-color: #d0d0d0;
}

.selectedSuggestion {
  font-weight: bold;
}

.contentSection,
.expandedTabContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  height: 40%;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.expandedTabContent {
  margin-top: 4px;
}

.quantitySection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 50px;
  color: gray;

  .quantityHeader {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .quantityLabel {
      font-size: 0.8rem;
      color: #555;
      position: absolute;
      top: -5px;
    }
    .quantityValue {
      font-size: 2.5rem; // Bigger font for value
      font-weight: 400; // Thinner weight
      color: #000;
      line-height: 1;
      width: 80px;
      display: block;
      text-align: center;
      overflow: hidden;
    }
  }

  .quantitySlider {
    width: 100%;
    height: 6px; // Thinner track
    border-radius: 3px;
    background: #e0e0e0; // Lighter track
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 0.5rem;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 28px; // Slightly larger thumb
      height: 28px;
      border-radius: 50%;
      background: grey;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      border: 3px solid #fff; // White border for 'ring' effect
    }

    &::-moz-range-thumb {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: grey;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      border: 3px solid #fff;
    }
  }
}

.editContainer {
  position: relative;
  // flex-grow: 0;
  // flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: flex-end;
  // flex-grow: 1;
  gap: 1rem;
  width: 100%;
  overflow-y: auto;
}

.modalInput {
  width: calc(100% - 1.2rem);
  height: 90px;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
  outline: none;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  // margin-top: 1.5rem;
}

.button {
  width: 50%;
  padding: 0.5rem 2.4rem;
  font-size: 1rem;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  transition: all 0.3s ease;
}

.validateButton {
  background-color: #a0e9b1;
}
.validateButton:hover {
  background-color: #66cd7c;
}

.cancelButton {
  background-color: #eaa2a9;
}
.cancelButton:hover {
  background-color: #e07c86;
}
