.headerDate {
  width: 100%;
  max-width: 600px;
  font-size: 1.45rem;
  font-weight: bold;
  // text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;

  margin: 0;
  background-color: #eee;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  color: #000000;
  position: relative;
}

@font-face {
  font-family: "LilitaOne";
  src: local("LilitaOne"), url(../../fonts/LilitaOne.ttf) format("truetype");
}

.headerDate > span {
  font-size: 1.45rem;
  font-family: "LilitaOne";
  background-color: #4242428a;
  width: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.3) 0px 3px 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changeDayIcon {
  width: 24px;
  height: 48px;
  position: absolute;
  // top: 0;
  // top: 10px;
  cursor: pointer;
  filter: opacity(0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease;
}

.changeDayIcon:hover {
  filter: opacity(0.5);
}

.previousDay {
  left: 0;
}

.nextDay {
  right: 0;
}
.rotate180 {
  transform: rotate(180deg);
}

.nutritionTotals {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #000000;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.carencesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.carence {
  background-color: rgba(255, 196, 0, 0.373);
  color: #5f1a18;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0;
  font-size: 0.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
