@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.navBarContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  height: 60px;
  background-color: #eeeeeeb3;
  background: linear-gradient(
    180deg,
    #ddddddb3 0%,
    #eeeeeeb3 30%,
    #f4f4f4b3 70%,
    #ffffffde 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  backdrop-filter: blur(10px);

  & > div.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    & > h1 {
      color: #333333;
      font-size: 30px;
      margin: 0;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      width: 40px;
      position: relative;
      margin-top: 7px;
      margin-left: 5px;
      user-select: none;
    }

    .foodEmoji {
      margin-left: 6px;
    }

    .moodIcon {
      margin-top: 2px;
      margin-left: 3px;
    }

    .geminiIconContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-top: 26px;
      margin-left: 1px;
    }
  }

  & > div.pressedCircle {
    animation: zoomIn 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.125);
    background: radial-gradient(circle at 30% 30%, #ffffff, #dddddd00);
  }
  & > div.unpressedCircle {
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0);
    background: radial-gradient(circle at 30% 30%, #ffffff00, #dddddd00);
  }
}

.navBarContainer::after {
  content: "";
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #eeeeeeb3;
}

.forkAndKnife,
.geminiIcon {
  position: absolute;
}

.pngDropShadow {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.forkAndKnife {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.rotatingIcon {
  display: inline-block;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
