@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.moodContainer {
  animation: fadeIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //   margin-bottom: 2rem;
  // gap: 1rem;
  position: relative;
  // min-height: auto;
}

.moodContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: calc(100% - 10px);
  // border-bottom: 2px solid #888;
}
