.symptomContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  height: 60px;
}

.symptomTitle {
  position: absolute;
  left: 5px;
  bottom: 5px;
  margin: 0;
  font-size: 0.6rem;
  color: #666;
}

.symptomEmoji {
  position: absolute;
  left: 20px;
  top: 5px;
  font-size: 48px;
  margin-right: 16px;
}

.starContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 48px;
  // gap: -8px;
  position: relative;
}

.star {
  position: absolute;
  left: 0;
  top: -27.5px;
  width: 48px;
  height: 48px;
}

.starEmpty {
  filter: grayscale(100%) brightness(150%);
}

@keyframes greyToYellow {
  from {
    filter: grayscale(100%) brightness(150%);
  }
  to {
    filter: none;
  }
}

.starYellow {
  animation: greyToYellow 0.2s ease-in-out forwards;
}
