.editRepasLineContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.repasLine {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0.25rem;
}

.editRepasLine {
  width: calc(100% - 2rem);
  font-size: 1rem;
  padding: 0.25rem;
  border: 0px solid #ccc;
  border-radius: 4px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.editRepasLine:focus {
  outline: none;
}

.editButton {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}
.editButton:hover {
  color: #007bff;
}
