.headerDate {
  width: 100vw;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  background-color: #eee;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  color: #000000;
}

.nutritionTotals {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #000000;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
