.navBarContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #eeeeeeb3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  backdrop-filter: blur(10px);

  & > h1 {
    color: #333333;
    font-size: 30px;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

.navBarContainer::after {
  content: "";
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #eeeeeeb3;
}

.geminiIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 4px;
}

.forkAndKnife,
.geminiIcon {
  position: absolute;
}

.rotatingIcon {
  display: inline-block;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
