.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  height: 70%;
  max-height: 1000px;
  z-index: 1001;
}

.editContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  width: 100%;
  //   height: 100%;
  overflow-y: auto;
}

.modalInput {
  width: calc(100% - 1.5rem);
//   height: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.button {
  padding: 0.5rem 3rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.validateButton {
  background-color: #28a745;
}
.validateButton:hover {
  background-color: #218838;
}

.cancelButton {
  background-color: #dc3545;
}
.cancelButton:hover {
  background-color: #c82333;
}

.suggestionsContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 0.2rem;
  //   border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  height: 100%;
  //   max-height: 150px;
  //   overflow-y: auto;
  & > h2 {
    margin: 0.5rem;
    font-size: 1rem;
    color: #333;
  }
}

.suggestionItem {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: black;
  background-color: #f0f0f0;
}
.suggestionItem:hover {
  background-color: #d0d0d0;
}
