.modalContainer {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // height: 80vh;
}

.editContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  // flex-grow: 1;
  gap: 1rem;
  width: 100%;
  min-height: 34%;
  height: 34%;
  overflow-y: auto;
}

.modalInput {
  width: calc(100% - 1.5rem);
  //   height: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.button {
  padding: 0.5rem 3rem;
  font-size: 1rem;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  transition: all 0.3s ease;
}

.validateButton {
  background-color: #a0e9b1;
}
.validateButton:hover {
  background-color: #66cd7c;
}

.cancelButton {
  background-color: #eaa2a9;
}
.cancelButton:hover {
  background-color: #e07c86;
}

.suggestionsContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 0.2rem;
  //   border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  height: calc(33% - 1rem);
  max-height: calc(33% - 1rem);
  //   max-height: 150px;
  //   overflow-y: auto;
  & > h2 {
    margin: 0.5rem;
    font-size: 1rem;
    color: #333;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    overflow-y: scroll;
  }
}

.suggestionItem {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: black;
  background-color: #f0f0f0;
}
.suggestionItem:hover {
  background-color: #d0d0d0;
}
