@keyframes growingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes comingFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.averageBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  // gap: 0.5rem;
  // margin-top: 0.5rem;
  position: relative;
}

.averageBarLabel {
  position: absolute;
  left: -70px;
  width: 65px;
  text-align: right;
  font-size: 0.6rem;
  color: #333333;
  margin-right: 0.5rem;
}

.barWrapper {
  position: relative;
}

.bar {
  position: absolute;
}

.barValue {
  animation: growingBar 0.4s ease-in forwards;
}

.barOverflowContainer {
  position: absolute;
  overflow: hidden;
}

.barOverflowSymbol {
  animation: comingFromRight 0.3s ease-out forwards 0.35s;
  opacity: 0;
  position: absolute;
  background-color: black;
  width: 1px;
  height: 12px;
}
