.appContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100vh;
  background-color: #f9f9f9;
  overflow-y: scroll;
}
